$primary-color: #ffa319;
$secondary-color: #d36831;
$white-color: #fffefd;
$gray-color: #aaaaa9;
$black-color: #292929;
$dark-navy: #001a29;
$light-navy: #003366;
$font-family: 'Share', sans-serif;
$spacing: 1.5rem;
$max-width: 1440px;

$padding: 1rem;
$margin: 1rem;
